@import "tailwindcss";
@source "../views";

@tailwind base;
@tailwind components;
@tailwind utilities;

.line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.white_bar {
    min-height: 120px;
}

.banner {
    min-height: 800px;
}

.all_events_button {
    background-color: black;
}

@media only screen and (max-width: 600px) {
    .banner {
        min-height: 220px;
    }
}
